{% extends "base.html" %}

{% block content %}

<style>
    form {
        background-color: #1e90ff; /* Cor de fundo do formulário */
        padding: 30px;
        border-radius: 10px;
        max-width: 600px; /* Largura máxima ajustada */
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: white;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        font-weight: bold;
        color: white; /* Cor do texto dos rótulos */
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }

    input[type="submit"] {
        background-color: #0073e6; /* Azul do botão */
        color: white;
        padding: 12px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2em;
        transition: background-color 0.3s;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: #005bb5;
    }

    .errorlist {
        color: #ffcccb; /* Cor de erro para mensagens de erro */
        margin-top: 5px;
    }
</style>

<form method="post">
    {% csrf_token %}

    <table>
        {{ login_form.as_table }}
    </table>

    <input type="submit" value="Logar">
</form>

{% endblock %}
